<div class="wrapper wrapper-content animated fadeInRight" ng-controller="TestPageCtrl as TestPage">
    <div class="row">
        <div class="col-lg-10">
             <label style="font-weight:100;margin-top:100px" uib-dropdown-toggle class="btn-sm btn-default" ng-click="CheckoutDataBrief()">CheckoutDataBrief</label><br>
              <label style="font-weight:100" uib-dropdown-toggle class="btn-sm btn-default" ng-click="ajax()">AJAX</label>

            <p>{{d_orders.d_orders[2016110401]}}</p>
     <p>{{d_orders.d_orders[2016110402]}}</p>
     <p>{{d_orders.d_orders[2016110403]}}</p>
 
                  <p>{{times}}</p>
     
       </div>
       
    </div>
</div>