<div class="footer footer-bar">
    <div class="pull-right">
            <button type="button" class="btn btn-outline btn-primary">Incoming Orders</button>
        <button type="button" class="btn btn-outline btn-success">In Progress</button>
         <button type="button" class="btn btn-outline btn-info">In Delivery</button>
  
    </div>
    <div style="float:left;padding-top:8px;">
        <i class="fa fa-space-shuttle "></i> <strong>MPC Direct Access</strong> 
      </div> 
       <form role="search"  method="post" style="width:200px;margin-left:10px;float:left" action="">
                <div class="form-group" style="margin-bottom:0px">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
            
    </div>
</div>
