<div class="map-modal "  >
    <div class="row wrapper h100 m-b-none no-padding no-margins ibox" >
    <div class="ibox-content h100 " > 
                
              <div class="ibox-tools" style="float:right" uib-dropdown>
                 <a ng-click="close()">
                    <i class="fa fa-times"></i>
                </a>
             </div>
                    
            <div id='osm_big_delivery'  class="osm_big_delivery"  ></div> 
                  
                
</div>
</div>
</div>